language: php
php:
  - '5.4'
before_install:
  - composer install
before_script:
  - composer update
script: phpunit --configuration phpunit.xml --coverage-text
notifications:
    on_success: never
    on_failure: never