language: php
php:
  - '5.4'
before_install:
  - /home/travis/.phpenv/versions/5.4/bin/composer self-update
before_csript:
  - composer install
script: phpunit --configuration phpunit.xml --coverage-text